html {
    position: relative;
    min-height: 100%;
}

body {
	margin-top: 75px;

}

.content{
	margin-bottom:75px;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}